@import "tailwindcss";

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.footer-link-1 {
  @apply transition-transform duration-200 ease-out hover:-translate-y-1;
}
.footer-link-2 {
  @apply text-gray-500 hover:underline hover:text-blue-600 font-semibold;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-15x);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
